<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a th:href="@{/index}"><button>Newsletter</button></a>
    <div class="cadastro-form">
        <h2>Cadastro</h2>
        <form method="post"> 
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>

            <label for="senha">Senha:</label>
            <input type="text" id="senha" name="senha" required>


            <input type="submit" value="Cadastrar">
        </form>
    </div>
</body>
</html>