<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>assine nossa Newsletter</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <a th:href="@{/cadastro}">
        <button>Cadastro</button>
    </a>
    <div class="newsletter-form">
        <h2>Assine nossa Newsletter</h2>
        <span th:text="${msg}"></span><br>
        <form method="post" >

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>

            <input type="submit" value="Assinar">
        </form>
    </div>
</body>
</html>